@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.pokemon-list-item {
  background-color: #FFF;
  
  .pokemon-list-item__content {
    &:hover {
      transform: scale(1.25, 1.25);
      z-index: 1001;
      box-shadow: 0 0 15px #000;
    }

    cursor: pointer;
    transition: all .15s ease-in-out;
  }
}

.pokemon-detail__name {
  font-family: 'Bowlby One SC', sans-serif;
}